@if (isVisible) {
  <div class="modal-backdrop" (click)="onCancel()">
  
    <div class="editor-container" (click)="$event.stopPropagation()">
      <h3>{{ isEditMode ? 'Edit Note' : 'Create New Note' }}</h3>

      <div class="form-group">
        <input type="text" placeholder="Note title" [(ngModel)]="noteTitle" class="input-title">
        <textarea placeholder="Note content" [(ngModel)]="noteContent" rows="4" class="input-content"></textarea> 
      </div>

      <div class="editor-actions">
      <button class="save-btn" (click)="onSaveNote()">Save</button>
      <button class="cancel-btn" (click)="onCancel()">Cancel</button>
      </div>
    </div> 
  </div>

  
} 
